* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #22354B;
  color: white;
}

button {
  background-color: white;
  width: 20px;
  height: 20px;
  border: 1px solid #223548;
}

.title {
  font-size: 16px;
  font-family: sans-serif;
}

.nav li:first-of-type {
  border-left: 1px solid white;
}

.nav li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.habit {
  position: relative;
  border-bottom: 1px solid black;
  padding: 0.7em;
}

.score-button-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.modify-button-container {
  position: absolute;
  right: 0;
  top: 0;
}
