<h3>{{ habits.count }}</h3>
<ul>
  <li ht-habit ng-repeat="habit in habits.values" ng-transclude>
    <span>{{ habit.name }}</span>
    <div class="habit-button">
      <button class="edit" ng-show="action === 'index'">edit</button>
      <button class="delete" id="delete-{{habit.name.toLowerCase()}}" ng-show="action === 'index'" ht-delete ng-transclude>delete</button>

      <button class="confirm" ng-show="action !== 'index'" ht-confirm ng-transclude>confirm</button>
      <button class="cancel"  ng-show="action !== 'index'" ht-confirm ng-transclude>cancel</button>
    </div>
  </li>
</ul>
